.header {
  letter-spacing: $letter-spacing;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 43px;
  padding: 0.5rem 0.75rem 0.5rem 1rem;
  @include breakpoint-up(24) {
    height: 49px;
  }
  @include breakpoint-up(25) {
    padding-right: 0.5rem;
  }
  @include breakpoint-up($sm) {
    padding: 1rem 1rem 1rem 1.5rem;
    height: 74px;
    font-weight: $font-weight-light;
  }
  @include breakpoint-up {
    padding: 1rem 1.25rem 1rem 2rem;
    height: 78px;
  }
  @include breakpoint-up($lg) {
    height: 90px;
    padding: 1rem 2rem 1rem 3rem;
  }
  @include breakpoint-up($xl) {
    padding: 1rem 3rem 1rem 4rem;
  }
}
