.g-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem 1rem;
  @include breakpoint($sm) {
    padding: 1rem 2rem;
  }
  @include breakpoint($xl) {
    padding: 1rem 3rem;
  }
  @include breakpoint($xxl) {
    padding: 1rem 4rem;
  }
}
