<div style="padding: 2rem;">
  <p style="font-family: 'Open Sans', sans-serif, Arial;">Open Sans (primary, default text)</p>
  <br>
  <p style="font-family: 'Ballo 2', sans-serif, Arial;">Baloo 2 (secondary, headings)</p>
</div>
