<div style="padding: 2rem;">
  <p style="font-family: 'Open Sans', sans-serif, Arial;">Open Sans (primary, default text)</p>
  <br>
  <p style="font-family: 'Raleway', sans-serif, Arial;">Raleway (secondary, headings)</p>
</div>
