.technologies {
  position: relative;
  &:before {
    content: '';
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: -2rem;
    right: 60%;
    border: 0.125rem solid $colour-primary-400;
    border-radius: 50%;
  }
  &:after {
    content: '';
    width: calc(1rem + 6vw);
    height: calc(2rem + 12vw);
    position: absolute;
    bottom: calc(-5rem - 4vw);
    right: 0;
    border: 0.1875rem solid $colour-secondary-400;
    border-right: none;
    border-radius: calc(100% + 75rem) 0 0 calc(100% + 75rem);
    @include breakpoint-up($xl) {
      width: 5.5rem;
      height: 11rem;
      bottom: -8rem;
    }
  }
}

.technologies__accordion {
  margin-top: 2.5rem;
}
