.c-accordion {
  @include breakpoint-up($md) {
    display: flex;
    position: relative;
  }
}

.c-accordion__border {
  @include breakpoint-between(0, $md) {
    display: none;
  }
  @include breakpoint-up($md) {
    border-right: 2px solid $colour-primary-400;
    margin: 1rem 0;
  }
}

.c-accordion__section {
  flex: 1;
  transition: height $transition-duration ease-out;
}

.c-accordion__heading {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  transition: all $transition-duration;
  @include breakpoint-between(0, $md) {
    text-align: left;
  }
  &:after {
    @include breakpoint-between(0, $md) {
      content: '\02795';
      font-size: 0.75rem;
      float: right;
      height: 14px;
      padding: 4px 0 4px 3px;
    }
  }
  &--is-active {
    @include breakpoint-up($md) {
      position: relative;
    }
    &:before {
      @include breakpoint-up($md) {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background: $colour-white;
        transform: rotate(45deg);
        top: 59px;
        left: calc((100% - 20px) / 2);
        z-index: 1;
        box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.04), 0px 0px 4px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0);
      }
    }
    &:after {
      @include breakpoint-between(0, $md) {
        content: "\2796";
      }
      @include breakpoint-up($md) {
        content: "";
        position: absolute;
        width: calc(100% - 3rem);
        height: 20px;
        background: $colour-white;
        top: 71px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
      }
    }
  }
}

.c-accordion__panel {
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height $transition-duration ease-out;
  @include breakpoint-up($md) {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.c-accordion__contents {
  margin: 0.5rem 0 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
