.contact__role {
  @include u-link;
  &:hover ~ .contact__role-details,
  &:focus ~ .contact__role-details,
  &:active ~ .contact__role-details {
    max-height: 100px;
  }
}

.contact__role-details {
  display: block;
  max-height: 0;
  overflow: hidden;
  margin: 1rem 0 0;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: max-height $transition-duration ease-in-out;
  @include breakpoint-up {
    margin: 1rem 1rem 0;
  }

  span {
    display: block;
    padding: 1rem 1.25rem;
    @include breakpoint-up {
      padding: 1.5rem 2rem;
    }
  }
}
