<a class="u-link" href="#">Link</a>

<div style="background-color:#5c5c5c;
            margin-top:1rem;
            padding: 1rem;
     "
>

  <a class="u-link u-link--invert-@md" href="#">Link</a>

</div>
