<div class="c-about">
  <h2 class="c-about__title">Who am I?</h2>
  <p class="c-about__description">Hi, I'm James. I like being creative with code.</p>
  <p class="c-about__description">In my free time I'm a keen musician, having played acoustic guitar for over a decade and performing at different events. I also sing, play piano and write songs too.</p>
</div>
