<div class="c-hero">
  <h1 class="c-hero__title">
    <span class="c-hero__text c-hero__text--primary">Hi, I'm James</span>
    <span class="c-hero__block c-hero__block--primary"></span>
    <span class="c-hero__text c-hero__text--secondary">I make websites.</span>
    <span class="c-hero__block c-hero__block--secondary"></span>
  </h1>
</div>
