.home {
  position: relative;
  min-height: calc(100vh - 43px);
  padding-top: calc(40vh - 43px);
  @include breakpoint-up(24) {
    min-height: calc(100vh - 49px);
    padding-top: calc(40vh - 49px);
  }
  @include breakpoint-up(36) {
    min-height: calc(100vh - 74px);
    padding-top: calc(40vh - 74px);
  }
  @include breakpoint-up(48) {
    min-height: calc(100vh - 78px);
    padding-top: calc(40vh - 78px);
  }
  @include breakpoint-up(64) {
    min-height: calc(100vh - 90px);
    padding-top: calc(30vh - 90px);
  }
  &:before {
    content: '';
    width: calc(8rem + 5vw);
    height: calc(8rem + 5vw);
    position: absolute;
    bottom: -3rem;
    left: 30%;
    border: 0.125rem solid $colour-primary-400;
    border-radius: 50%;
    @include breakpoint-up($xl) {
      width: 12rem;
      height: 12rem;
      left: 30%;
    }
  }
  &:after {
    content: '';
    width: calc(3rem + 2.5vw);
    height: calc(3rem + 2.5vw);
    position: absolute;
    bottom: calc(3rem + 3vw);
    left: calc(30% + 6rem + 4vw);
    border: 0.1875rem solid $colour-secondary-400;
    border-radius: 50%;
    @include breakpoint-up($xl) {
      width: 5rem;
      height: 5rem;
      bottom: 6rem;
      left: calc(30% + 8rem);
    }
  }
  & > * {
    &:before {
      content: '';
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 5rem;
      left: 65%;
      border: 0.125rem solid $colour-primary-400;
      border-radius: 50%;
    }
    &:after {
      content: '';
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 6rem;
      left: calc(65% - 1.5rem);
      border: 0.1875rem solid $colour-secondary-400;
      border-radius: 50%;
    }
  }
}

.home__title {
  position: relative;
  width: fit-content;
  font-size: fontSize(2);
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-sm;
  @include breakpoint-up {
    font-size: fontSize(3);
  }
  @include breakpoint-up($lg) {
    font-size: fontSize(4);
  }
}

.home__text {
  display: block;
  opacity: 0;
  animation: fade-in 2s forwards;
  &--primary {
    animation-delay: 1.79s;
    .home__text--full-stop {
      color: $colour-primary-400;
    }
  }
  &--secondary {
    animation-delay: 4.2s;
    .home__text--full-stop {
      color: $colour-secondary-400;
    }
  }
}

.home__block {
  display: block;
  width: 0;
  height: calc(50% - 5px);
  position: absolute;
  left: 0;
  animation: home-block 2s cubic-bezier(.74, .06, .4, .92);
  @include breakpoint-up {
    height: calc(50% - 6px);
  }
  &--primary {
    background-color: $colour-primary-400;
    top: 6px;
    animation-delay: 0.5s;
    @include breakpoint-up {
      top: 7px;
    }
  }
  &--secondary {
    background-color: $colour-secondary-400;
    bottom: -1px;
    animation-delay: 3s;
  }
}
