<div class="c-home" id="home">
  <div class="l-spacing">
    <h1 class="c-home__title">
      <span class="c-home__text c-home__text--primary">Hi, I'm James<span class="c-home__text--full-stop">.</span></span>
      <span class="c-home__block c-home__block--primary"></span>
      <span class="c-home__text c-home__text--secondary">I build websites<span class="c-home__text--full-stop">.</span></span>
      <span class="c-home__block c-home__block--secondary"></span>
    </h1>
  </div>
</div>
