<div class="project">
  <h3 class="u-heading-3">The website's name</h3>
  <figure class="project__figure">
    <img class="project__image"
         src="../../../images/my-portfolio.png"
         alt="Here is the alt"
    >
    <figcaption class="project__caption">
      <p class="u-text u-text--center">Here is a short description of the website.</p>
      <p class="u-text u-text--center">
        <a class="u-link u-link--invert-@md" href="#">See for yourself</a>
      </p>
    </figcaption>
  </figure>
</div>
