<article class="cv" id="cv">
  <div class="l-spacing">
    <h2 class="u-heading-1">Wanna see my CV?</h2>
    <div class="cv__main">
      <header class="cv__header">
        <h3 class="cv__title">Candidate Name</h3>
        <h3 class="cv__subtitle">Application Job Role</h3>
      </header>
      <div class="cv__layout">
        <section class="cv__primary">
          <article class="cv__section cv__section--summary">
            <h4 class="cv__heading-1">Section</h4>
            <div class="cv__content">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse nisi minus dolorem error voluptate tenetur minima asperiores facere magni quos.</p>
            </div>
          </article>
          <article class="cv__section cv__section--experience">
            <h4 class="cv__heading-1">Section</h4>
            <div class="cv__content">
              <article class="cv__experience-block">
                <h4 class="cv__heading-2">
                  Job Title
                  <span class="cv__date">Jan 19 - Jan 20</span>
                </h4>
                <h5 class="cv__heading-3">Daughter</h5>
                <p>A summary of what I did at the company.</p>
                <ul class="cv__list cv__list--bullets">
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>Lorem ipsum dolor sit amet consectetur.</li>
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                  <li>Lorem ipsum dolor sit amet consectetur.</li>
                  <li>Lorem ipsum dolor sit amet.</li>
                </ul>
              </article>
            </div>
          </article>
          <article class="cv__section cv__section--skills">
            <h4 class="cv__heading-1">Section</h4>
            <div class="cv__content">
              <ul class="cv__list cv__list--skills">
                <li>A skill <span class="cv__star">&#9733; &#9733; &#9733; &#9733;</span></li>
                <li>A skill <span class="cv__star">&#9733; &#9733; &#9733; &#9733;</span></li>
                <li>A skill <span class="cv__star">&#9733; &#9733; &#9733;</span></li>
                <li>A skill <span class="cv__star">&#9733; &#9733; &#9733;</span></li>
                <li>A skill <span class="cv__star">&#9733; &#9733;</span></li>
                <li>A skill <span class="cv__star">&#9733; &#9733; &#9733; &#9733;</span></li>
                <li>A skill <span class="cv__star">&#9733; &#9733; &#9733; &#9733;</span></li>
                <li>A skill <span class="cv__star">&#9733; &#9733; &#9733;</span></li>
              </ul>
            </div>
          </article>
        </section>
        <section class="cv__secondary">
          <aside class="cv__section cv__section--contact">
            <h4 class="cv__heading-1">Section</h4>
            <div class="cv__content">
              <ul class="cv__list cv__list--icons cv__list--big">
                <li class="cv__portfolio"><a class="u-link u-link--cv" href="https://www.jamesahorne.dev">A link somewhere</a></li>
                <li class="cv__linked-in"><a class="u-link u-link--cv" href="https://www.jamesahorne.dev">A link somewhere</a></li>
                <li class="cv__github"><a class="u-link u-link--cv" href="https://www.jamesahorne.dev">A link somewhere</a></li>
                <li class="cv__email"><a class="u-link u-link--cv" href="mailto:james99h39@gmail.com">email@address.com</a></li>
                <li class="cv__phone">01234 567890</li>
              </ul>
            </div>
          </aside>
          <article class="cv__section cv__section--education">
            <h4 class="cv__heading-1">Section</h4>
            <div class="cv__content">
              <ul class="cv__list">
                <li>Qualification Type</li>
                <li class="cv__sublist">
                  Qualification Type
                  <ul>
                    <li>Qualification</li>
                    <li>Qualification</li>
                    <li>Qualification</li>
                  </ul>
                </li>
                <li class="cv__sublist">
                  Qualification Type
                  <ul>
                    <li>Qualification</li>
                    <li>Qualification</li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>
          <article class="cv__section cv__section--interests">
            <h4 class="cv__heading-1">Section</h4>
            <div class="cv__content">
              <ul class="cv__list cv__list--icons">
                <li class="cv__music">An interest to do with the icon (music).</li>
                <li class="cv__fitness">An interest to do with the icon (fitness).</li>
              </ul>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</article>
