<article class="projects" id="projects">
  <div class="l-spacing">
    <h2 class="u-heading-1">Enjoy my previous work</h2>
    <div class="projects__grid">
      {{> components-project }}
      {{> components-project }}
      {{> components-project }}
      {{> components-project }}
      {{> components-project }}
    </div>
  </div>
</article>





{#
  If one, two or four projects, use modifiers
  projects__grid--1,
  projects__grid--2,
  projects__grid--4
#}
