// Colour variants:
// 500: main colour
// 400: colour-500, opacity 0.8
// 300: colour-500, opacity 0.6
// 100: colour-500, opacity 0.2
//  50: colour-100, opacity 0.2

// White
$colour-white: hsl(0, 0%, 99%);

// Black
$colour-black-50:  hsl(0, 0%, 95%);
$colour-black-100: hsl(0, 0%, 76.25%);
$colour-black-300: hsl(0, 0%, 57.5%);
$colour-black-400: hsl(0, 0%, 38.75%);
$colour-black-500: hsl(0, 0%, 20%);
$colour-black-600: hsl(0, 0%, 5%);

// Primary
$colour-primary-50:  hsl(222, 90%, 95%);
$colour-primary-100: hsl(222, 90%, 85%);
$colour-primary-300: hsl(222, 90%, 75%);
$colour-primary-400: hsl(222, 90%, 65%);
$colour-primary-500: hsl(222, 90%, 55%);
$colour-primary-600: hsl(222, 90%, 45%);

// Secondary
$colour-secondary-50:  hsl(4, 90%, 95%);
$colour-secondary-100: hsl(4, 90%, 85%);
$colour-secondary-300: hsl(4, 90%, 75%);
$colour-secondary-400: hsl(4, 90%, 65%);
$colour-secondary-500: hsl(4, 90%, 55%);
$colour-secondary-600: hsl(4, 90%, 45%);
