$colour-white: #eeeeee;

$colour-black-light: #777777;
$colour-black: #333333;

$colour-primary-100: #d4e0fd;
$colour-primary-300: #7fa3f9;
$colour-primary-500: #2765f5;
$colour-primary-600: #2765f5;

$colour-secondary-100: #fdd9d7;
$colour-secondary-300: #f88e87;
$colour-secondary-500: #f44336;
$colour-secondary-600: #d22518;
