// Breakpoints
$sm: 36;
$md: 48;
$lg: 64;
$xl: 75;
$xxl: 90;

// Type scale
$size-default: 16px;
$size-scale: 1.25;

// Font weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Letter spacing
$letter-spacing: 0.05rem;

// Transitions
$transition: all 0.3s;
