// Breakpoints
$sm: 36;
$md: 48;
$lg: 64;
$xl: 75;
$xxl: 90;

// Type scale
$size-default: 16px;
$size-scale: 1.25;

// Font weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Letter spacing
$letter-spacing: 0.05rem;

// Transitions
$transition-duration: 0.3s;
$transition-timing: cubic-bezier(.74, .06, .4, .92);
$transition: $transition-duration $transition-timing;

// Borders
$border-radius: 5px;

// Box Shadow
$box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.04), 0px 9px 16px rgba(0, 0, 0, 0.07), 0px 9px 20px rgba(0, 0, 0, 0.01);
