// Breakpoints
@mixin breakpoint-up($breakpoint) {
  @media (min-width: #{$breakpoint}rem) {
    @content;
  }
}
@mixin breakpoint-between($breakpoint-min, $breakpoint-max) {
  @media (min-width: #{$breakpoint-min}rem) and (max-width: #{$breakpoint-max - 0.001}rem) {
    @content;
  }
}

// Fonts
@mixin font-sizing-default {
  font-size: fontSize(0);
  @include breakpoint-up($md) {
    font-size: fontSize(1);
  }
}

@mixin font-primary {
  font-family: 'Open Sans', sans-serif, Arial;
}

@mixin font-secondary($level: 1) {
  font-family: 'Baloo 2', sans-serif, Arial;
  font-weight: 500;
  @if $level == 2 {
    font-size: fontSize(1);
    margin: 1.5rem 0 0.75rem;
    @include breakpoint-up($md) {
      font-size: fontSize(2);
      margin: 1.75rem 0 1rem;
    }
  } @else if $level == 3 {
    font-size: fontSize(0);
    margin: 1rem 0 0.75rem;
    @include breakpoint-up($md) {
      font-size: fontSize(1);
      margin: 1.5rem 0 1rem;
    }
  } @else {
    font-size: fontSize(2);
    margin: 2rem 0 1rem;
    @include breakpoint-up($md) {
      font-size: fontSize(3);
      margin: 2.5rem 0 1.25rem;
    }
  }
}

@mixin font-logo {
  font-family: 'Lalezar', sans-serif, Arial;
  letter-spacing: $letter-spacing;
}
