// Open Sans (primary)
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v17-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-italic.woff2') format('woff2'),
       url('../fonts/open-sans-v17-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'),
       url('../fonts/open-sans-v17-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'),
       url('../fonts/open-sans-v17-latin-700.woff') format('woff');
}

// Baloo 2 (secondary)
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/baloo-2-v1-latin-regular.woff2') format('woff2'),
       url('../fonts/baloo-2-v1-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/baloo-2-v1-latin-500.woff2') format('woff2'),
       url('../fonts/baloo-2-v1-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/baloo-2-v1-latin-600.woff2') format('woff2'),
       url('../fonts/baloo-2-v1-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/baloo-2-v1-latin-700.woff2') format('woff2'),
       url('../fonts/baloo-2-v1-latin-700.woff') format('woff');
}

// Lalezar (logo)
@font-face {
  font-family: 'Lalezar';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lalezar-v6-latin-regular.woff2') format('woff2'),
       url('../fonts/lalezar-v6-latin-regular.woff') format('woff');
}
