@keyframes wobble {
  0% {
    top: 0;
  }
  15% {
    top: 0.05rem;
  }
  30% {
    top: -0.05rem;
  }
  45% {
    top: 0.05rem;
  }
  60% {
    top: -0.025rem;
  }
  75% {
    top: 0.01rem;
  }
  90% {
    top: -0.01rem;
  }
  100% {
    top: 0;
  }
}

@keyframes home-block {
  0% {
    width: 0;
    left: 0;

  }
  50% {
    width: calc(100% + 0.25rem);
    left: 0;

  }
  100% {
    width: 0;
    left: calc(100% + 0.25rem);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



// @keyframes slide-down {
//   0% {
//     transform: translateY(-150px) translateZ(-230px) rotateX(-90deg);
//     transform-origin: bottom center;
//   }
//   100% {
//     transform: translateY(0) translateZ(0) rotateX(0deg);
//     transform-origin: bottom center;
//   }
// }
// 
// opacity: 0;
// transform: translateY(-150px) translateZ(-230px) rotateX(-90deg);
// // animation: fade-in 2s forwards, slide-down 0.5s cubic-bezier(0.49, 0.48, 0.73, 0.44) both;
// animation: fade-in 2s forwards, slide-down 0.5s ease-in-out both;
// animation-delay: 5s;
