@keyframes wobble {
  0% {
    top: 0;
  }
  15% {
    top: 0.05rem;
  }
  30% {
    top: -0.05rem;
  }
  45% {
    top: 0.05rem;
  }
  60% {
    top: -0.025rem;
  }
  75% {
    top: 0.01rem;
  }
  90% {
    top: -0.01rem;
  }
  100% {
    top: 0;
  }
}

@keyframes hero-block {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
