body {
  @include font-primary;
  background-color: $colour-white;
  color: $colour-black-500;
  font-size: fontSize(0);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include breakpoint-up($md) {
    font-size: fontSize(1);
  }
}
