body {
  @include font-primary;
  @include font-sizing-default;
  background-color: $colour-white;
  color: $colour-black-500;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
