.c-brand__link {
  @include breakpoint(24) {
    font-size: fontSize(1);
  }
  @include breakpoint($sm) {
    font-size: fontSize(2);
  }
  @include breakpoint($md) {
    font-size: fontSize(3);
  }
  @include breakpoint($lg) {
    font-size: fontSize(4);
  }
  &--highlighted {
    margin: 0 2px;
  }
  &--primary {
    color: $colour-primary;
  }
  &--secondary {
    color: $colour-secondary;
  }
}
