.c-nav__list {
  display: flex;
}

.c-nav__item {
  margin-right: 0.75rem;
  @include breakpoint-up(22) {
    margin-right: 1rem;
  }
  @include breakpoint-up(24) {
    font-size: fontSize(1);
  }
  @include breakpoint-up(25) {
    margin-right: 1.5rem;
  }
  @include breakpoint-up($sm) {
    font-size: fontSize(2);
  }
  @include breakpoint-up($md) {
    margin-right: 2rem;
  }
  @include breakpoint-up($lg) {
    font-size: fontSize(3);
    margin-right: 2.5rem;
  }
  &:last-child {
    margin-right: 0;
  }
  &--home {
    display: none;
    @include breakpoint-up($lg) {
      display: block;
    }
  }
  &--cv {
    @include breakpoint-between(0, $md) {
      margin-right: 0;
    }
  }
  &--contact {
    display: none;
    @include breakpoint-up($md) {
      display: block;
    }
  }
}

.c-nav__link {
  text-transform: lowercase;
	position: relative;
  &:hover {
    animation: wobble 0.667s ease-in-out;
  }
}
