.footer {
  text-align: center;
  margin: 2rem 1rem;
  transition: $transition;
  @include breakpoint-up {
    margin: 3.5rem 4rem;
  }
  &:hover,
  &:focus,
  &:active {
    .footer__content {
      border-color: $colour-primary-400;
      width: 100%;
    }

    span {
      opacity: 0;
      transition-delay: 0s;
    }

    p {
      width: 100%;
      opacity: 1;
      transition-delay: 0s,
                        .15s
      ;
    }
  }

  span {
    color: $colour-black-400;
    font-size: fontSize(3);
    font-weight: $font-weight-semi-bold;
    transition: $transition;
    transition-delay: .25s;
    @include breakpoint-up {
      font-size: fontSize(3);
    }
  }

  p {
    width: 0%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
    opacity: 0;
    transition: width $transition,
                opacity $transition
    ;
    transition-delay: .15s,
                      0s
    ;
    @include breakpoint-down($breakpoint-iphone) {
      font-size: fontSize(-1);
    }
  }
}

.footer__content {
  display: inline-block;
  padding: 1rem;
  width: 82px;
  max-width: 48rem;
  border: 2px solid $colour-black-300;
  border-radius: 82px;
  position: relative;
  transition: $transition;
  @include breakpoint-up {
    padding: 2rem;
    width: 114px;
    border-radius: 114px;
  }
}
