.c-about {
  @include article-border;
  &:before {
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 5s;
  }
}

.c-about__title {
  @include font-secondary(1);
}

.c-about__description {
  margin-bottom: 0.75rem;
}
