.c-hero {
  @include layout-spacing;
  min-height: calc(100vh - 2.125rem - 43px);
  padding-top: calc(40vh - 43px);
  @include breakpoint-up(24) {
    min-height: calc(100vh - 2.125rem - 49px);
    padding-top: calc(40vh - 49px);
  }
  @include breakpoint-up(36) {
    min-height: calc(100vh - 2.125rem - 74px);
    padding-top: calc(40vh - 74px);
  }
  @include breakpoint-up(48) {
    min-height: calc(100vh - 2.125rem - 78px);
    padding-top: calc(40vh - 78px);
  }
  @include breakpoint-up(64) {
    min-height: calc(100vh - 2.125rem - 90px);
    padding-top: calc(40vh - 90px);
  }
}

.c-hero__title {
  position: relative;
  width: fit-content;
  font-size: fontSize(2);
  font-weight: $font-weight-semi-bold;
  line-height: 1.3;
  @include breakpoint-up($md) {
    font-size: fontSize(3);
  }
  @include breakpoint-up($lg) {
    font-size: fontSize(4);
  }
}

.c-hero__text {
  display: block;
  opacity: 0;
  animation: fade-in 2s forwards;
  &--primary {
    animation-delay: 1.7s;
    .c-hero__text--full-stop {
      color: $colour-primary-500;
    }
  }
  &--secondary {
    animation-delay: 4.2s;
    .c-hero__text--full-stop {
      color: $colour-secondary-500;
    }
  }
}

.c-hero__block {
  display: block;
  width: 0%;
  height: calc(50% - 8px);
  position: absolute;
  left: -1rem;
  animation: hero-block 2s cubic-bezier(.74, .06, .4, .92);
  &--primary {
    background-color: $colour-primary-500;
    top: 9px;
    animation-delay: 0.5s;
  }
  &--secondary {
    background-color: $colour-secondary-500;
    bottom: -1px;
    animation-delay: 3s;
  }
}
