<div class="c-brand">
  <a class="c-brand__link" href="#">james<span class="c-brand__link--highlighted">a</span>horne<span class="c-brand__link--highlighted c-brand__link--colour">.</span>dev</a>
</div>
