<nav class="c-nav">
  <ul class="c-nav__list">
    <li class="c-nav__item c-nav__item--home">
      <a class="c-nav__link" href="#home">Home</a>
    </li>
    <li class="c-nav__item c-nav__item--projects">
      <a class="c-nav__link" href="#projects">projects</a>
    </li>
    <li class="c-nav__item c-nav__item--cv">
      <a class="c-nav__link" href="#cv">CV</a>
    </li>
    <li class="c-nav__item c-nav__item--contact">
      <a class="c-nav__link" href="#contact">Contact</a>
    </li>
  </ul>
</nav>
