<nav class="c-nav">
  <ul class="c-nav__list">
    <li class="c-nav__item c-nav__item--home">
      <a class="c-nav__link" href="#">Home</a></li>
    <li class="c-nav__item">
      <a class="c-nav__link" href="#">Work</a></li>
    <li class="c-nav__item">
      <a class="c-nav__link" href="#">Contact</a></li>
  </ul>
</nav>
