<footer class="footer"
        id="footer"
        aria-expanded="false"
        aria-controls="footer__info"
        tabindex="0"
>
  <div class="footer__content">
    <span>&copy;</span>
    <p id="footer__info"
       role="region"
       aria-labelledby="footer"
    >
      Copyright &copy; 2020 jamesahorne.dev
    </p>
  </div>
</footer>
