.u-link {
	color: $colour-primary-500;
	border-bottom: 2px solid $colour-primary-400;
	transition: all $transition;
	&:hover,
	&:focus,
	&:active {
		color: $colour-black-500;
		border-bottom-color: $colour-black-300;
	}
	&:visited {
		color: $colour-primary-500;
	}
}
