.u-link {
	@include u-link;
	&--cv {
    &:hover,
    &:focus,
    &:active {
			color: $colour-black-500;
      &:after {
        transform: translateX(0);
      }
    }
    &:after {
      transform: translateX(calc(100% - 0.25rem));
		}
	}
}
