.u-link {
	@include u-link;
	&--invert-\@md {
		@include breakpoint-up {
			color: $colour-white;
			&:hover,
			&:focus,
			&:active {
				color: $colour-white;
			}
			&:after {
				background-color: $colour-secondary-400;
			}
			&:visited {
				color: $colour-white;
			}
		}
	}
	&--cv {
    &:hover,
    &:focus,
    &:active {
			color: $colour-black-500;
      &:after {
        transform: translateX(0);
      }
    }
    &:after {
      transform: translateX(-105%);
		}
	}
}
