<div class="c-accordion" id="c-accordion">
  <div class="c-accordion__section">
    <button class="c-accordion__heading">Heading 1</button>
    <div class="c-accordion__panel">
      <p class="c-accordion__contents">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sint, minima amet architecto, perferendis aperiam possimus, maiores eius ea recusandae provident est ut eos saepe et molestias <a class="u-link" href="#">iusto dolores</a> a ratione!</p>
    </div>
  </div>
  <span class="c-accordion__border"></span>
  <div class="c-accordion__section">
    <button class="c-accordion__heading">Heading 2</button>
    <div class="c-accordion__panel">
      <p class="c-accordion__contents">Lorem ipsum dolor <a class="u-link" href="#">sit amet</a> consectetur adipisicing elit. Perspiciatis sint, minima amet architecto, perferendis aperiam possimus, maiores eius ea recusandae provident est ut eos saepe et molestias iusto dolores a ratione! Ab tempora placeat sint distinctio non veniam eaque hic accusamus, eius fuga ex eos modi minima ducimus, omnis quos.</p>
    </div>
  </div>
  <span class="c-accordion__border"></span>
  <div class="c-accordion__section">
    <button class="c-accordion__heading">Heading 3</button>
    <div class="c-accordion__panel">
      <p class="c-accordion__contents">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sint, minima amet architecto, <a class="u-link" href="#">perferendis</a> aperiam possimus.</p>
    </div>
  </div>
</div>
